@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.calculator {
		padding: 0;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
		font-size: 14px;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		width: 100% !important;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 2px;
		left: 6px;
		width: 100%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Row name"; }
	td:nth-of-type(2):before { content: "Year 1"; }
	td:nth-of-type(3):before { content: "Year 2"; }
	td:nth-of-type(4):before { content: "Year 3"; }
	td:nth-of-type(5):before { content: "Year 4"; }
	td:nth-of-type(6):before { content: "Year 5"; }
	td:nth-of-type(7):before { content: "Year 6"; }
	td:nth-of-type(8):before { content: "Year 7"; }
	td:nth-of-type(9):before { content: "Year 8"; }
	td:nth-of-type(10):before { content: "Year 9"; }
	td:nth-of-type(11):before { content: "Year 10"; }
	td:before {
		width: 3em;
	}
}

@media 
only screen and (min-width: 761px) {
	table.responsive td {
		border: solid 1px #ccc;
		padding: 2px;	
	}
	table.responsive td:nth-child(n+2){
		text-align: center;
	}

	td:nth-of-type(1) { width: 12%; }
	td:nth-of-type(2) { width: 8.8% }
	td:nth-of-type(3) { width: 8.8% }
	td:nth-of-type(4) { width: 8.8% }
	td:nth-of-type(5) { width: 8.8% }
	td:nth-of-type(6) { width: 8.8% }
	td:nth-of-type(7) { width: 8.8% }
	td:nth-of-type(8) { width: 8.8% }
	td:nth-of-type(9) { width: 8.8% }
	td:nth-of-type(10) { width: 8.8% }
	td:nth-of-type(11) { width: 8.8% }
}